// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

//Common
.tags {
    margin-bottom: 0.5rem;
    .tag {
        font-weight: 600;
        background-color: #22b9ea;
        border-radius: 0.25rem;
        padding: 0.25rem 0.25rem;
        color: white;
        text-transform: uppercase;
        font-size: 0.7rem;
    }
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* HEADER */
.navbar-nav {
    a {
        text-decoration: none;
    }
}
/*END HEADER */

/* ARTICLE.INDEX */
.container.posts {
    .row {
        flex-wrap: wrap;
        //flex-direction: column;
        justify-content: center;

        .post {
            width: calc(100% / 4 - 2rem);
            margin: 1rem;
            a {
                height: 200px;
                &:hover {
                    text-decoration: none;
                }
                .card-img-top {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .card-body {
                .card-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
/*END ARTICLE.INDEX */

/* ARTICLE.SHOW */
.article {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
/*END ARTICLE.SHOW */

/* CATEGORIES.SHOW*/

.category_posts {
    .card {
        width: calc(100% / 2 - 1rem);
        margin: 0.5rem;
        a {
            height: 200px;
            .card-img-top {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-body {
            height: 190px;
            .card-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
